<h1>Listing routes</h1>

<table class="zebra-striped">
  <tr>
    <th>Name</th>
    <th style="width: 5%"></th>
  </tr>

<% @routes.each do |route| %>
  <tr>
    <td><%= link_to route.name, route %> <% if route.created_at > 2.hours.ago %><span class="label success">New</span><% end %></td>
    <td><%= link_to 'Destroy', route, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Route', new_route_path %>
