<h1><%= @route.name %></h1>

<!-- markers => {data: @json, options: {draggable: true} } -->
<% gmaps(direction: {options: {waypoints: @waypoints.collect{|w| w.position},travelMode: "WALKING"},data: {from: @waypoints.first.position, to: @waypoints.last.position} }) %>
<div id="waypoints" style="width: 900px; height: 500px;"></div>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>

<script type="text/javascript">



  var rendererOptions = {
    draggable: true,
    markerOptions: {}
  };
  var directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions);;
  var directionsService = new google.maps.DirectionsService();
  var map;

  var poland = new google.maps.LatLng(54.381579,18.596039);
  var markers = <%= @waypoints.collect{|w| {position: w.position,draggable: true}}.to_json.html_safe %>;


$(function(){

    var myOptions = {
      zoom: 7,
      mapTypeId: google.maps.MapTypeId.TERRAIN,
      center: poland
    };
    map = new google.maps.Map(document.getElementById("waypoints"), myOptions);
    directionsDisplay.setMap(map);

    google.maps.event.addListener(directionsDisplay, 'directions_changed', function() {
      //computeTotalDistance(directionsDisplay.directions);
    });
   google.maps.event.addListener(map, 'rightclick', function(e) {
     addMarker(e.latLng);
   });
  var flightPath = new google.maps.Polyline({
    path: markers,
    strokeColor: "#FF0000",
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);
  });
  /*
  function calcRoute(points) {
    var temp = points.slice();
    var request = {
      origin:  points[points.length-1].location,
      optimizeWaypoints: true,
      unitSystem: google.maps.UnitSystem.METRIC,
      destination: points[0].location,
      waypoints: temp.splice(1,temp.length-2),
      travelMode: google.maps.DirectionsTravelMode.WALKING
    };
    console.log("start: " + request.origin + " end: " + request.destination + " waypoints: " + request.waypoints[0].location);
    directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        directionsDisplay.setDirections(response);
      }
    });
  }
    */
  function addMarker(pos){
    var marker = new google.maps.Marker({
        position: pos,
        draggable: true,
        map: map,
        title:"Hello World!"
    });
  }

</script>